h1, h2 {
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
}

.brushes #brushes {
  background-color: mediumspringgreen;
}

.frames #frames {
  background-color: lightcoral;
}

.paint #paint {
  background-color: skyblue;
}

.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
